appnope==0.1.0
backcall==0.1.0
beautifulsoup4==4.6.3
decorator==4.3.0
html5lib==1.0.1
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.1
lxml==4.2.5
numpy==1.15.4
pandas==0.23.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.7
ptyprocess==0.6.0
Pygments==2.3.0
python-dateutil==2.7.5
pytz==2018.7
selenium==3.11.0
six==1.12.0
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
